$text_width : 500px;

.left{
  
}

.right{

}

// .background{
//   background-image: url(./img/camp.jpg);
// }

div.home{
  align-items:center ;
  width: $text_width;  
  margin: 0 auto;
}

.home-label{
  margin: 0 auto;
  display: inline-block;
  user-select: none;
  width: $text_width;  
}